@tailwind base;
@tailwind components;
@tailwind utilities;



header nav li {
    font-size: 1.3em;
    font-weight: bold;
    color: blue; 
}

header nav li:hover {
    text-decoration: underline;
}

main{
    height: calc(100vh - 80px);
}