@tailwind base;
@tailwind components;
@tailwind utilities;

header nav li {
    font-size: 1.3em;
    font-weight: bold;
    color: blue; 
}
header nav li:hover {
    text-decoration: underline;
}

main{
    min-height: calc(100vh - 160px);
    max-height: max-content;
}
